.navbar-container {
  background-color: #38e4da;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
}

.navbar-container ul {
  display: flex;
  width: 30%;
}

.navbar-container li {
  padding-right: 10px;
  list-style-type: none;
}
