@import url("https://fonts.googleapis.com/css2?family=Coiny&display=swap");

.questions-container {
  padding-top: 20px;
  font-family: "Coiny", cursive;
  font-size: 200px;
  display: flex;
  justify-content: center;
}
