.quiz-container {
  display: flex;
  flex-direction: column;
}

.quiz-score-time-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 40px;
  padding-top: 40px;
}
